  ::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: hls(0 0% 98%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: hsl(213 11% 84%);
    border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
    background: hsl(240 3.7% 15.9%);
}